<article>
<h1>Acerca de</h1>
<p><%= Sip.titulo %>: <%= Sip.descripcion %>

<p>Para apoyar el desarrollo de esta aplicación, la sistematización y 
la operación agradecemos su trabajo, donaciones y oraciones.</p>
<p>Lo invitamos a 
<div align="center">
  <a href="https://checkout.wompi.co/l/BzfReY" class='btn'>Donar</a>
</div>
<div class="accordion" id="donantes">
  <%= item_acordeon_bs(
    'donantes', 'fdonantes', 'Listado de donantes', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
   }
  ) do %>
    <table class='table'>
      <thead>
        <tr><th>Fecha</th><th>Nombre</th><th>Enlace a organización</th><th>Monto</th></tr>
      </thead>
      <tbody>
        <tr><td>2022-06-10</td><td>Anónimo</td><td></td><td>100.000</td></tr>
      </tbody>
    </table>
  <% end %>
</div>
</p>

<p>
Para ayudar a sistematizar formularios E-14  l@ invitamos a revisar 
<a href='/ppd'>las políticas de este sitio</a> y después a 
<div align="center">
<%= link_to 'Suscribirse', main_app.sign_up_path, class: 'btn' %>
<br>
</div>
Los datos recolectados con esta aplicación se distribuyen junto con las
fuentes como un <a href="https://gitlab.com/pasosdeJesus/sal136/-/blob/main/db/datos.sql">volcado SQL</a>.
<br>
<div class="accordion" id="suscriptores">
  <%= item_acordeon_bs(
    'suscriptores', 'fsuscriptores',
    'Listado de suscriptores y cantidad de formularios sistematizados', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %> 
    <table class='table'>
      <thead>
      <tr>
        <th>Usuario</th><th>Organización</th><th>Número de formularios E-14 sistematizados</th>
      </tr>
      </thead>
      <tbody>
        <% Usuario.habilitados.where('id<>1').each do |u| %>
          <tr>
            <td><%= u.presenta_nombre %></td>
            <td>
              <%= u.presenta('institucion') %>
            </td>
            <td><%= Tabulae14.where(usuario_id: u.id).count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
</p>

<p>
Para apoyar en el desarrollo por favor comente los
<a href='https://docs.google.com/document/d/1YAOH9n-yYM2303cLE6JRWI6T_DWgOlHef0xjltnnr5g/edit?usp=sharing'>requerimientos</a> 
y/o haga sus aportes al 
<%= link_to 'Código fuente', Sip.codigofuente %>.
<br>
Se trata de código abierto con 
<a href='https://github.com/pasosdeJesus/sip/blob/master/LICENCIA.md'>licencia ISC</a>.
Lo invitamos a ver <a href="<%= Sip.urlcontribuyentes %>">el listado de las personas que han contribuido en la implementación</a>.
</p>
<div class="accordion" id="pila">
  <%= item_acordeon_bs(
    'pila', "fpila",
    'Detalles tecnológicos de esta aplicación web y su plataforma de operación', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %> 
    <p>
    <%= render partial: 'acerca_pila_pdJ' %>
    </p>
    <p>
    <%= render partial: 'acerca_tecno' %>
    <ul>
      <li> Maquetación y barra lateral basada en prosidebar-pro.
    </ul>
    </p>
    <p>
    El sistema operativo de desarrollo y objetivo principal para producción
    ha sido <a href='https://aprendiendo.pasosdeJesus.org'>adJ/OpenBSD</a>.
    </p>
  <% end %>
</div>


<hr>
  <%= Sip.agradecimientoDios %>
<hr>
</article>
</article>
