<h1>Gracias por su donación</h1>

<p>
Id de su donación <%= params %>
</p>
<pé
Oramos por quienes donen, por su bienestar integral en el nombre
de Jesús.
</p>
<p>
Nos gustaría que nos sugiriera un mecanismo para mantenernos en contacto 
y con las ideas que tenga relacionadas con esta aplicación web escribiéndonos
a <a href='mailto:info@pasosdeJesus.org'>info@pasosdeJesus.org</a>.
</p>

