<div class='row'>
  <div class='col-12' align='center'>
    Totales tabulados por municipio para <%= @eleccion.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-6' align='center'>
    Departamento: <%= @departamento.nombre %>
  </div>
  <div class='col-6' align='center'>
    Municipio <%= @municipio.nombre %>
  </div>
</div>

<% @filtro = {
  eleccion_id: @eleccion.id,
  municipio_id: @municipio.id 
} %>
<%= render partial: 'tabla_resultados' %>


<% Zona.where(municipio_id: @municipio.id).each do |z| %>
  <div class='ressubitem'>
    <%= link_to("Zona #{z.zona}", elecciones_zona_path(zona: z.zona)) %>
  </div>
<% end %>

<div class='ressuperitem'>
  <%= link_to('Departamento de este municipio', elecciones_departamental_path(
    coddep: @departamento.codreg)) %>
</div>
