<div class='row'>
  <div class='col-12' align='center'>
    Totales tabulados a nivel nacional para <%= @eleccion.nombre %>
  </div>
</div>

<% @filtro = {
  eleccion_id: @eleccion.id
} %>

<%= render partial: 'tabla_resultados' %>

<% Sip::Departamento.habilitados.where(id_pais: 170).each do |d| %>
  <div class='ressubitem'>
    <%= link_to("Departamento #{d.nombre}", 
                elecciones_departamental_path(coddep: d.codreg)) %>
  </div>
<% end %>


