<div class='row'>
  <div class='col-12' align='center'>
    Totales tabulados por puesto para <%= @eleccion.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-6' align='center'>
    Departamento: <%= @departamento.nombre %>
  </div>
  <div class='col-6' align='center'>
    Municipio <%= @municipio.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-4' align='center'>
    Zona <%= @zona.zona %>
  </div>
  <div class='col-4' align='center'>
    Puesto <%= @puesto.puesto %>
  </div>
</div>

<% @filtro = {
  eleccion_id: @eleccion.id,
  puesto: @puesto.id,
  zona: @zona.id,
  municipio_id: @municipio.id 
} %>

<%= render partial: 'tabla_resultados' %>

<% Mesa.where(puesto_id: @puesto.id).each do |m| %>
  <div class='ressubitem'>
    <%= link_to("Mesa #{m.mesa}", elecciones_mesa_path(mesa: m.mesa)) %>
  </div>
<% end %>


<div class='ressuperitem'>
  <%= link_to('Zona de este puesto', elecciones_zona_path(zona: @zona.zona)) %>
</div>
