<p>¡Bienvenido al prototipo de aplicación web Au2022 para comparar
   formularios E-14 y pre-conteo en elecciones 2022 en Colombia!</p>

<p>Puede confirmar su cuenta de correo mediante el siguiente enlace:</p>
<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @token) %></p>
